<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{{pageTitle}} - {{siteName}} v{{version}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/bootstrap-responsive.min.css" rel="stylesheet">
    <link href="/static/css/font-awesome.css" rel="stylesheet">
    <link href="/static/css/style.css" rel="stylesheet">
    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <script src="/static/js/jquery-1.7.2.min.js"></script>
    <script src="/static/js/bootstrap.js"></script>
    <script src="/static/js/base.js"></script>
    <link href="/static/css/pages/dashboard.css" rel="stylesheet">
</head>
<body>

<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <a class="brand" href="/">
                <span class="icon-time"></span> {{siteName}}
            </a>
            <div class="nav-collapse">
                <ul class="nav pull-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="icon-user"></i>
                            {{userName}}
                            <b class="caret"></b>
                        </a>

                        <ul class="dropdown-menu">
                            <li><a href="/profile">修改资料</a></li>
                            <li><a href="/logout">退出登录</a></li>
                        </ul>
                    </li>
                </ul>
            </div><!--/.nav-collapse -->
        </div> <!-- /container -->
    </div> <!-- /navbar-inner -->
</div> <!-- /navbar -->

<div class="subnavbar">
    <div class="subnavbar-inner">
        <div class="container">
            <ul class="mainnav">
                <liclass
                ="active">
                <a href="/">
                    <i class="icon-dashboard"></i>
                    <span>系统概况</span>
                </a>
                </li>
                <li>
                    <a href="/task/list">
                        <i class="icon-list-alt"></i>
                        <span>任务管理</span>
                    </a>
                </li>
                <li>
                    <a href="/group/list">
                        <i class="icon-folder-close"></i>
                        <span>分组管理</span>
                    </a>
                </li>
                <li>
                    <a href="/help">
                        <i class="icon-question-sign"></i>
                        <span>使用帮助</span>
                    </a>
                </li>
            </ul>
        </div> <!-- /container -->
    </div> <!-- /subnavbar-inner -->
</div> <!-- /subnavbar -->

<div class="main">
    <div class="main-inner">
        <div class="container">

            {% block content %}
            {% end %}


        </div> <!-- /container -->
    </div> <!-- /extra-inner -->
</div> <!-- /extra -->

<div class="footer">
    <div class="footer-inner">
        <div class="container">
            <div class="row">
                <div class="span7">
                    &copy; 2015-2016 <a href="http://www.lisijie.org">lisijie.org</a>.
                </div>
                <div class="span5" id="server-time" style="text-align:right">

                </div>
            </div> <!-- /row -->
        </div> <!-- /container -->
    </div> <!-- /footer-inner -->
</div> <!-- /footer -->
</body>
</html>