<div class="footer">
	<div class="footer-inner">
		<div class="container">
			<div class="row">
    			<div class="span7">
    				&copy; 2015-2016 <a href="http://www.lisijie.org">lisijie.org</a>.
    			</div>
			<div class="span5" id="server-time" style="text-align:right">

    			</div>
    		</div> <!-- /row -->
		</div> <!-- /container -->
	</div> <!-- /footer-inner -->
</div> <!-- /footer -->